sub6_2018_concedii/build
sub3_2019_jucator/build
sub6_2019_curs/build
sub3_2019_rezervare/build
sub5_2019_examen/build
sub1_2019_articole/build
sub4_2017_televizor/build
sub1eng_2019_package/build
sub2_2019_autovehicul/build